include partials/head.pug
include partials/menu.pug

div.d-flex.justify-content-end.text-center.my-4
    h3#titreOeuvre.titreGalerie.m-0
        | #{$data->getTitre()}<br>
        span TODO Afficher l'artiste #{$data->getAnneeCreation()}
div.container-fluid
    div.row.flex-column-reverse.flex-md-row
        div.col-12.col-md-9.d-flex.align-items-center
            p#galerieText.text-center.text-md-start #{$data->getDescription()}
        div.col-12.col-md-3.text-center
            img.tableau(src="Img/Tableau.png", alt="Photo d'un encadrement de tableau orné, de couleur argenté, avec du vide à l'intérieur")
div.container-fluid#compteurJJ
    div.row.justify-content-center.align-items-center.text-center
        div.col-12.col-lg-6
            div.row
                div.col-6
                    button#btn_jaime.btn
                        img.boutonJaime(src="Img/iconeJaime.png", alt="Bouton j'aime, pour aimer l'article")
                    span#jaimeOeuvre.resultat #{$data->getCompteurJaime()}
                div.col-6
                    button#btn_jaime_pas.btn
                        img.boutonJaime(src="Img/iconeJaimePas.png", alt="Bouton je n'aime pas")
                    span#jaimePasOeuvre.resultat #{$data->getCompteurJaimePas()}
        div.col-12.col-lg-6
            div.row
                div.col-6
                    a#btn_precedent.boutonValider(href="#") Précédent
                div.col-6
                    a#btn_suivant.boutonValider(href="#") Suivant

br
div#fb-root
    script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0" nonce="votreNonce")
include partials/footer.pug
